.message {
  padding: 10px 0;
  display: grid;
}

.userMessage {
  justify-self: end;
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #583c94;
  color: white;
  border-radius: 10px;
  border-top-right-radius: 0;
  max-width: 320px;

  a {
    color: white;
  }
}

.agentMessage {
  justify-self: start;
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #dddddd;
  border-radius: 10px;
  border-top-left-radius: 0;
  max-width: 320px;
}
